@(buki: controllers.Buki)

@main("ブキ情報") {
  <h1>@(buki.name)の情報</h1>
  <img class="buki-image" src="https://dummyimage.com/600x400/ccc/000&text=@buki.name" alt="@buki.name" loading="lazy" />
  <table class="table">
    <tr class="table-row">
      <th class="table-header">サブウェポン</th>
      <td class="table-content">@buki.subWeapon</td>
    </tr>
    <tr class="table-row">
      <th class="table-header">スペシャルウェポン</th>
      <td class="table-content">@buki.specialWeapon</td>
    </tr>
  </table>
}